body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
}

/* 얼굴사진 등록 */
.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 30px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

.file-upload-content {
  display: none;
  text-align: center;
  font-size:30px;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #674187;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

/* 다른 사진으로 재시도 */
.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn { 
  border-radius: 5px;
  border: solid 1.5px #674187;
  background-color: #674187;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.result-message {
    font-size: 2rem;
}



/* 선글라스/안경 버튼 */
.imgtest{

}

.labels{
	margin-top:15px;
	margin-left:30px;
}

.labelradio{
	font-size:15px;
	font-weight:bold;
	outline: none;
}

.labelradio > input{
	display:none;
}

.labelradio input:checked + .radio_btn{
	background-color: #6c757d;
	color:#fff;
}

.radio_btn{	
	width: 180px;
	height: 120px;
	border-radius: 15px;
	position: relative;
	text-align:center;
	cursor: pointer;
	background-color: #dde4ea;
	float: left;
	margin-top: 10px;	
}

.radio_btn > img{
	width:120px;
	height:90px;
}


.hide{
	display:none;
}

.testsize{
	position:absolute;
    margin: 0 auto;
	width: 180px;
	height:180px;
	top:140px;
	left:350px;
}

.addtest{
	position:absolute;
    margin: 0 auto;
	width: 180px;
	height:180px;
	top:140px;
	left:350px;
}

/* 선글라스 버튼 */
label.menu{
	margin: 20px;
	padding: 4px;
}
input#menu{
	display:none;
}
nav#main_nav{
	display:none;
}
input#menu:checked + nav#main_nav{
	display: block;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-green {
    background-color: #77af9c;
    color: #d7fff1;
}

.w-btn-green-outline {
    border: 3px solid #77af9c;
    color: #000;
}

.w-btn-green-outline:hover {
    background-color: #77af9c;
    color: #d7fff1;
}

/* 안경 버튼 */
label.menu2{
	margin: 20px;
	padding: 4px;
}
input#menu2{
	display:none;
}
nav#main_nav2{
	display:none;
}
input#menu2:checked + nav#main_nav2{
	display: block;
}

.addimg{
	width:90px;
	height:90px;
}

/* 이미지 추가 */
.file-upload-input2 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


/* 마우스 */
.Move{
  cursor: cell;
  position: absolute;
  background-color: #2196F3;
  color : white;
  border: 1px solid #d3d3d3;
  text-align: center;	
}

/* 얼굴형 테스트 ~ */
.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #674187;
  font-weight: bold;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #000000;
}

/* 얼굴형 테스트/추천 */
.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #674187; 
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}

/* 얼굴사진을 등록해 주세요~ */
.upload {
    width: 20%;
}

.upload-text {
	font-family: 'Gamja Flower', cursive;
    width: 58%;
    font-size: 2rem;
    line-height: 1.53;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

/* 맨아래 CIE졸업작품 */
.footer {
	font-family: 'Nanum Pen Script', cursive;
    background-color: initial;
    color: initial;
	font-size:1.2rem;
}

/* 퍼센트 박스 */
.bar-container {
  height: 2.7rem;
}

.egg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.egg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.round-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.round-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.long-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.long-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.angled-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.angled-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.heart-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.heart-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.face-label {
    width: 15%;
    text-align: left;
    height: 2rem;
	font-size:20px;
}
#label-container {
    width: 70%;
    margin: 0 auto;
}
.face-explain {
    font-size: 1.5rem;
}

.egg-face-title {
    color: #3ba363;
}
.egg-face-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.round-face-title {
    color: #3ba363;
}
.round-face-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.long-face-title {
    color: #ff6c0a;
}
.long-face-celeb {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.angled-face-title {
    color: #548dd4;
}
.angled-face-celeb {
    color: #548dd4;
    font-size: 1.2rem;
}
.heart-face-title {
    color: #e56995;
}
.heart-face-celeb {
    color: #e56995;
    font-size: 1.2rem;
}


/* 성별을 선택하세요 */
.gender-text {
	font-family: 'Gamja Flower', cursive;
    width: 58%;
    font-size: 1.8rem;
    line-height: 1.53;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.gender-yn {
	font-family: 'Gamja Flower', cursive;
	color: #000000;
	font-size: 1.5rem;
}

input#gender {
  display: none;
}

label.genderyn {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e2e2e2 inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #efe476 inset;
  background-color:  #fff6cd;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #ffffff;
  left: calc(50% - 2px);
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #5db76c inset;
  background-color: #e3ffeb;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #ffffff;
}
