body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
}

/* 얼굴사진 등록 */
.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 30px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

.file-upload-content {
  display: none;
  text-align: center;
  font-size:30px;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #674187;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.spinner-border{
	width: 3rem;
	height: 3rem; 
	color:#674187;
}


/* 다른 사진으로 재시도 */
.image-title-wrap {
  padding: 5px 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn { 
  border-radius: 5px;
  border:3px solid #230040;
  background-color: #230040;
  width: 31.5rem;
  transition:all 0.8s;
}

.try-again-btn:hover{
	background-color: #10001e;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.result-message {
    font-size: 2rem;
	margin:0px;
}



/* 퍼센트, 선글라스,안경 이미지 버튼 */
.labels{
	margin-top:-20px;
}

.labelradio{
	font-size: 1.2rem;
	outline: none;
}

.labelradio > input{
	display:none;
}

.labelradio input:checked + .radio_btn{
	border:3px solid #674187;
	background-color: #e5dfeb;
}

.radio_btn{	
	width: 10rem;
	height: 9rem;
	border-radius: 5px;
	border:2px solid #e5dfeb;
	position: relative;
	text-align:center;
	cursor: pointer;
	background-color: #fff;
	float: left;
	margin-top: 10px;
}

.radio_btn > img{
	width: 6rem;
	height: 6rem;
}


.hide{
	display:none;
}

.testsize{
	position:absolute;
    margin: 0 auto;
	width: 100px;
	height:100px;
	top:6rem;
	left:22rem;
}

.addtest{
	position:absolute;
    margin: 0 auto;
	width: 100px;
	height:100px;
	top:6rem;
	left:22rem;
	color:#000;
}


/* 퍼센트, 선글라스, 안경 버튼 */

.btn0 {
	font-size: 1.5rem;
	width:10rem;
	height:3rem;
	padding: 5px 15px 15px 15px;
	background-color: white;
	border:3px solid #674187;
	border-radius:5px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transition:all 0.4s;
	margin-top:20px;
}
.btn0:hover {
	background-color:#674187;
	color: white;
}
#menu0:checked ~ .btn0 {
	background-color:#674187;
	color: white;
	border:3px solid #512c70;
}

.btn1 {
	font-size: 1.5rem;
	width:10rem;
	height:3rem;
	padding: 5px 15px 15px 15px;
	background-color: white;
	border:3px solid #674187;
	border-radius:5px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transition:all 0.4s;
	margin-top:20px;
}
.btn1:hover {
	background-color:#674187;
	color: white;
}

#menu:checked ~ .btn1 {
	background-color:#674187;
	color: white;
	border:3px solid #512c70;
}
.btn2 {
	font-size: 1.5rem;
	width:10rem;
	height:3rem;
	padding: 5px 15px 15px 15px;
	background-color: white;
	border:3px solid #674187;
	border-radius:5px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transition:all 0.4s;
	margin-top:20px;
}
.btn2:hover {
	background-color:#674187;
	color: white;
}
#menu2:checked ~ .btn2 {
	background-color:#674187;
	color: white;
	border:3px solid #512c70;
}

/* 퍼센트 버튼 */
input#menu0{
	display:none;
}

nav#main_nav0{
	display:none;
}
input#menu0:checked + nav#main_nav0{
	display: block;
}

/* 선글라스 버튼 */
input#menu{
	display:none;
}

nav#main_nav{
	display:none;
}
input#menu:checked + nav#main_nav{
	display: block;
}


/* 안경 버튼 */
input#menu2{
	display:none;
}

nav#main_nav2{
	display:none;
}
input#menu2:checked + nav#main_nav2{
	display: block;
}

.addimg{
	width:110px;
	height:80px;
}

/* 이미지 추가 */
.file-upload-input2 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


/* 이동 마우스 */
.Move{
  cursor: cell;
  position: absolute;
  background-color: #2196F3;
  color : white;
  border: 1px solid #d3d3d3;
  text-align: center;	
}

/* 슬라이드 박스 */
.sliderbox{
	width: 31.5rem;
	height: 3rem;
	padding: 20px 20px 20px 30px;
	border-radius: 5px;
	border:2px solid #e5dfeb;
	background: #fff;
	align-items: center;	
	display: flex;
	margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #e5dfeb;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 30%; 
  background: #c5afd7;
  border:4px solid #230040;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background: #c5afd7;
  border:4px solid #230040;
  cursor: pointer;
}

.value {
	font-size: 1.5rem;
	font-weight:600;
	color: #230040;
	width: 40px;
	font-family: 'Gamja Flower', cursive;
	text-align: center;
}

.valueq{
	font-size: 1.2rem;
	font-weight:600;
	color: #230040;
	font-family: 'Gamja Flower', cursive;
	text-align: center;
	margin-bottom: 0;
}

.blank{
	width: 40px;
}

/* 각도 버튼 */
.udbtn{
	font-size: 2rem;
	font-weight:1000;
	color: #000;
	width: 40px;
	font-family: 'Gamja Flower', cursive;
	text-align: center;
}

.rotate{
	font-size: 1.5rem;
	font-weight:600;
	color: #230040;
	width: 40px;
	font-family: 'Gamja Flower', cursive;
	text-align: center;
	margin-bottom: 0;
}

.do{
	font-size: 1.2rem;
	font-weight:600;
	color: #230040;
	text-align: center;
   font-family: 'Nanum Pen Script', cursive;
	margin-bottom: 0.5rem;
}


/* 얼굴형 테스트 ~ */
.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #674187;
  font-weight: bold;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #000000;
}

/* 얼굴형 테스트/추천 */
.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #674187; 
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}

/* 얼굴사진을 등록해 주세요~ */
.upload {
    width: 20%;
}

.upload-text {
	font-family: 'Gamja Flower', cursive;
    width: 58%;
    font-size: 2rem;
    line-height: 1.53;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.text-center{
	font-size: 2rem;
	font-weight:600;
	font-family: 'Gamja Flower', cursive;
}

/* 맨아래 CIE졸업작품 */
.footer {
	font-family: 'Nanum Pen Script', cursive;
    background-color: initial;
    color: initial;
	font-size:1.2rem;
}

/* 퍼센트 박스 */
.bar-container {
  height: 2.7rem;
}

.egg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(226, 178, 112, 0.2);
}
.egg-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(226, 178, 112, 1);
}
.round-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(93, 147, 201, 0.2);
}
.round-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(93, 147, 201, 1);
}
.long-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(141, 165, 85, 0.2);
}
.long-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(141, 165, 85, 1);
}
.angled-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(239, 136, 87, 0.2);
}
.angled-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(239, 136, 87, 1);
}
.heart-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(241, 138, 155, 0.2);
}
.heart-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(241, 138, 155, 1);
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.face-label {
    width: 15%;
    text-align: left;
    height: 2rem;
	font-size:20px;
}
#label-container {
    width: 70%;
    margin: 0 auto;
}
.face-explain {
    font-size: 1.6rem;

}
.face-explain-item{
	font-size: 1.8rem;
}

.tag{
	font-size: 2rem;
	font-family: 'Nanum Pen Script', cursive;
}

.egg-face-title {
    color: #e2b270;
}
.egg-face-tag {
    color: #e2b270;
}
.round-face-title {
    color: #5d93c9;
}
.round-face-tag {
    color: #5d93c9;
}
.long-face-title {
    color: #8da555;
}
.long-face-tag {
    color: #8da555;
}
.angled-face-title {
    color: #ef8857;
}
.angled-face-tag {
    color: #ef8857;
}
.heart-face-title {
    color: #f18a9b;
}
.heart-face-tag {
    color: #f18a9b;
}


/* 성별을 선택하세요 */
.gender-text {
	font-family: 'Gamja Flower', cursive;
    width: 58%;
    font-size: 1.8rem;
    line-height: 1.53;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.gender-yn {
	font-family: 'Gamja Flower', cursive;
	color: #000000;
	font-size: 1.5rem;
}

input#gender {
  display: none;
}

label.genderyn {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e2e2e2 inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #d7ca46 inset;
  background-color:  #fff6cd;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #ffffff;
  left: calc(50% - 2px);
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #50a572 inset;
  background-color: #e3ffeb;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #ffffff;
}
